version: '3.8'

services:
  backend:
    command: ["tail", "-f", "/dev/null"]
    env_file:
      - ./backend/.env
    networks:
      - traefik-public
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.subred-backend.rule=Host(`srapi.subred.cl`)"
        - "traefik.http.routers.subred-backend.entrypoints=websecure"
        - "traefik.http.services.subred-backend.loadbalancer.server.port=3001"
        - "traefik.http.routers.subred-backend.tls.certresolver=myresolver"

networks:
  traefik-public:
    external: true
