version: '3.8'

services:
  backend:
    image: ghcr.io/jalcayaga/artifacterp-backend:latest
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DIRECT_URL=${DIRECT_URL}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - STOREFRONT_URL=${STOREFRONT_URL}
      - ADMIN_URL=${ADMIN_URL}
      - PORT=3000
    networks:
      - MangoNet
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.artifact-backend.rule=Host(`api.artifact.cl`)"
        - "traefik.http.routers.artifact-backend.entrypoints=websecure"
        - "traefik.http.routers.artifact-backend.tls.certresolver=myresolver"
        - "traefik.http.services.artifact-backend.loadbalancer.server.port=3000"

  admin:
    image: ghcr.io/jalcayaga/artifacterp-admin:latest
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    networks:
      - MangoNet
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.artifact-admin.rule=Host(`app.artifact.cl`)"
        - "traefik.http.routers.artifact-admin.entrypoints=websecure"
        - "traefik.http.routers.artifact-admin.tls.certresolver=myresolver"
        - "traefik.http.services.artifact-admin.loadbalancer.server.port=3000"

  storefront:
    image: ghcr.io/jalcayaga/artifacterp-storefront:latest
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - NEXT_PUBLIC_TENANT_ID_HEADER=x-tenant-slug
    networks:
      - MangoNet
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.artifact-storefront.rule=Host(`artifact.cl`)"
        - "traefik.http.routers.artifact-storefront.entrypoints=websecure"
        - "traefik.http.routers.artifact-storefront.tls.certresolver=myresolver"
        - "traefik.http.services.artifact-storefront.loadbalancer.server.port=3000"

networks:
  MangoNet:
    external: true
